body{
    background-color: #000000 !important;
}

.video-net video{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.net-rest{
    display: flex;
    gap: 20px;
}

.img-net > img{
    position: relative;
    top: -3rem;
    width: 10rem;
    padding: 0 0.4rem;
}

.net-name{
    font-size: 26px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: #4597ee;
    min-height: 2.2rem;
    padding: 0.3rem 0;
}

.net-desc{
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: #868686;
    padding: 0.4rem 0;
}

.pg-net{
    font-size: 10px;
    font-family: "Lexend Deca", sans-serif;
    color: #868686 ;
    border: 1px solid #868686;
    padding: 0 0.3rem;
}

.quality-net{
    font-size: 10px;
    font-family: "Lexend Deca", sans-serif;
    background-color: #868686;
    color: white;
    padding: 0 0.3rem;
}

.pg-quality{
    display: flex;
    gap: 10px;
}

.net-wifi-wb{
    font-size: 14px;
    padding: 0.6rem 0;
    column-count: 2;
    gap: 20px;
    color: #868686;
    font-family: "Lexend Deca", sans-serif;
}

.net-wifi-wb span{
    color: #7aa3d0;
}

.net-episode{
    font-size: 19px;
    color: #4597ee;
    font-weight: 400;
    font-family: "Lexend Deca", sans-serif;
}

.ep-play svg{
    width: 1rem;
    position: relative;
    top: -4rem;
    align-items: center;
    text-align: center;
    display: none;
}

.ep-play{
    position: relative;
    top: 0.5rem;
    left: 50%;
}

.ep-image > a > img{
    width: 9.5rem;
    padding: 0.4rem 0.4rem 0 0.4rem;
}

.ep-image > a > img:hover{
    .ep-play svg{
        display: block;
    }
}

.ep-tit{
    font-size: 14px;
    color: #e6dede;
    position: relative;
    top: -1.4rem;
    padding: 0 0.6rem;
    font-family: "Lexend Deca", sans-serif;
}

.net-wb{
    display: flex;
    justify-content: flex-start;
    height: 14rem;
    overflow: scroll;
    flex-wrap: wrap;
}

.you-need-net{
    overflow: hidden;
}

@media screen and (max-width:991px) {
    .img-net > img{
        width: 9rem;
    }

    .net-desc{
        font-size: 12px;
    }

    .net-name{
        font-size: 20px;
    }

    .net-wifi-wb{
        font-size: 12px;
    }
}

@media screen and (max-width:570px) {
    .img-net > img{
        width: 7rem;
        top: -0.7rem;
    }

    .video-net video{
        height: 10rem;
    }

    .net-rest{
        gap: 10px;
    }

    .ep-image > a > img{
        width: 7rem;
    }

    
}

@media screen and (max-width:480px) {
    .img-net > img{
        width: 5rem;
    }

    .net-name{
        font-size: 17px;
    }

    .net-desc{
        width: ;
        max-height: 4rem;
        overflow: hidden;
    }
}



