.swiper-slide {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.swiper-slide > img {
    width: 9rem;
    height: auto;
    z-index: 2; /* Ensure the image is above the pseudo-element */
}

.back-img::before {
    content: "";
    background-image: url('https://gogocdn.net/cover/super-dragon-ball-heroes-meteor-mission.png');
    filter: blur(20px);
    width: 700%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the pseudo-element is behind the content */
    opacity: .2;
}

.all-to {
    padding: 10px;
    position: relative;
    z-index: 2; /* Ensure the content is above the pseudo-element */
    padding: 1.5rem 1rem;
}

.spot_watch:hover {
    color: #fff;
    background-color: #007bff;
}

.spot_title{
    font-size: 22px;
    font-weight: 400;
    color: #4597ee;
    font-family: "Lexend Deca", sans-serif;
}

.spot_anime_related{
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    max-height: 2.5rem;
    overflow: hidden;
    color: #ababab;
}

.rating svg {
    width: 1rem;
    position: relative;
    top:-0.1rem;
}

.rating{
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    color: #ababab;
}

.spot_genres{
    display: flex;
}

.type-tv{
    padding: 0 2rem;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    color: #ababab;
}

.spot_watch > i{
    font-size: 14px;
    position: relative;
    top: -0.1rem;
}

.spot_watch{
    font-size: 19px;
    font-weight: 300;
    font-family: "Lexend Deca", sans-serif;
    padding: 0.1rem 0.1rem;
    background-color: #4597ee;
    width: 7rem;
    text-align: center;
    color: black;
    border-radius: 3px;
    position: relative;
    top: 1rem;
}

a{
    text-decoration: none;
}

.swiper-container{
    position: relative;
    top: 1rem;
}

.container{
    overflow: hidden;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    display: none;
}

.swiper-slide.swiper-slide-next {
    backface-visibility: hidden;
    overflow: hidden;
}

@media screen and (max-width:768px){
    .swiper-slide > img{
        width: 9rem;
        height: 12rem;
    }

    .spot_title{
        max-height: 3.4rem;
        overflow: hidden;
    }

    .all-to{
        position: relative;
        top: -1rem;
    }

    .swiper-container{
        height: 12rem;
    }

    .spot_genres{
        position: relative;
        top: -0.5rem;
    }

    .spot_watch{
        position: relative;
        top: 0.1rem;
    }
}

@media screen and (max-width:492px){
    .swiper-slide > img{
        width: 7rem;
        height: 11.6rem;
    }

    .swiper-container{
        height: 10rem;
    }

    .spot_watch{
        font-size: 15px;
        padding: 0.2rem;
        width: 6rem;
        position: relative;
        top: -0.6rem;
    }

    .spot_title{
        font-size: 17px;
        max-height: 2.4rem;
    }

    .spot_anime_related{
        font-size: 11px;
        max-height: 1.9rem;
    }

    .spot_genres{
        position: relative;
        top: -1rem;
    }

    .rating svg{
        width: 0.7rem;
    }

    .rating{
        font-size: 12px;
    }

    .type-tv{
        font-size: 12px;
    }
}
